/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');

html {
  scroll-behavior: smooth;
}

.container{
height: 100%;
width: 100%;
background-size: cover;
background-repeat: no-repeat;
}

.carousel-inner 
{
	width: auto;
	height: 657px;
}
.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.3) !important;
}

.card-header h3{
color: white;
}


.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}

.welcome
{
	height: 370px;
	margin-top: auto;
	margin-bottom:auto;
	margin-left: 20px;
	margin-right: 5px;
	padding:50px;
	background-color: rgba(0,0,0,0.3) !important;
	color:white;
	
}

.bg-row
{
	height: 430px;
	margin-top: auto;
	margin-bottom:auto;
	width:100%;
	padding: 30px;
	

  background: #9152f8;
  background: -webkit-linear-gradient(top, #9ACD32, #228B22);
  background: -o-linear-gradient(top, #9ACD32, #228B22);
  background: -moz-linear-gradient(top, #9ACD32, #228B22);
  background: linear-gradient(top, #9ACD32, #228B22);
}

.container-tentang
{
	background-color: rgb(248, 248, 248);
	min-height: 850px;
	padding-bottom: 40px;
}

.narasi-tentang
{
	padding: 20px 40px;
}

.tentang-box
{
	box-shadow: rgba(0, 0, 0, 0.1) 2px 5px 5px;
	min-height: 480px;
	padding: 10px 10px 30px;
	background: rgb(255, 255, 255);
	margin: 10px;
	box-sizing: border-box;
}

.tentang-text
{
	text-align: center;
	display: table;
}

.icon-tentang
{
	width: 85%;
	margin: 20px;
}

.fadeInUp
{
	animation-name: fadeInUp;
}

.tentang-info
{
	margin-bottom: 20px;
	font-size: 16px !important;
	font-family: Gotham !important;
	text-align: justify;
}

.bg-footer
{
	background-color: #04B45F;
	color: #fff;
	padding-top: 15px;
	padding-bottom: 15px;
}

.go-top
{
	display: block;
	width: 40px;
	height: 40px;
	line-height: 35px;
	text-align: center;
	font-size: 30px;
	position: fixed;
	bottom: 40px;
	right: 20px;
	background-color: #404040;
	color: #FFFFFF;
	text-decoration: none;
	moz-border-radius: 5px;
	webkit-border-radius: 5px;
	border-radius: 5px;
}
.show
{
	display: block!important;
}